@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    
}
html, body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    /* padding: 0 5rem; */
}
/* shered styles */
.primary-btn{
    width: 11.25rem;
    height: 3.4rem;
    background: #FF900E;
    color: #ffffff;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
}
.primary-btn:hover{
    background: #8d510c;
    cursor: pointer;
}
/* nav styles */
header{
    background: rgba(255, 144, 14, 0.1);
    overflow-x: hidden;
}
nav, .hero{
    max-width: 68rem;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 auto; */
    /* padding: 0 5rem; */
}
nav ul{
    display: flex;
}
nav ul li{
    list-style-type: none;
    margin-left: 2.7rem;
}
nav a{
    text-decoration: none;
    color: #424242;
    font-size: 1.2rem;
    font-weight: 500;  
}
nav h2{
    color: #131313;
    font-size: 2rem;
    font-weight: bold;
}
/* rest of header styles */
header .hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 49.875rem;
    margin: 4.5rem auto 1rem auto;
    text-align: center;
}
header .hero-content h1{
    font-size: 3rem;
    font-weight: bold;
    color: #131313;
}
header .hero-content p{
    color: rgb(56, 55, 55);
    margin-top: 1rem;
}
 header .hero-content button{
    margin: 2rem auto;

} 
header img{
    margin-left: 50%;
    transform: translateX(-50%);
}
.hero-img{
    width: 100%;
    overflow-x: hidden;
}

main{
    margin-top: 8.5rem;
    overflow-x: hidden;
}
.teams{
    display: flex;
    width: 100%;
    overflow: hidden;
}
.teams .team-img-container{
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(2, 20.125rem);
    grid-template-rows: repeat(2, 20.125rem);
    margin-right: 4rem; 
}
.teams .features{
    display: flex;
    flex-direction: column;
    gap: 2rem; 
    /* width: 33.563rem; */
    justify-content: center;
    margin: 0 auto;
}
.features h2{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}
.teams .span1{
    color: #727272;
}
.teams .span2{
    color: #131313;
}
.teams .span3{
    color: #FF900E;
}
.teams{
    padding: 0 7rem;
    margin-bottom: 8rem;
    overflow-x: hidden;
}
.teams p{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}
.another-features{
    display: flex;
    column-gap: 3rem;
    position: relative;
    overflow: hidden;
    padding: 0 8rem;
    overflow-x: hidden;
}
/* .another-features .lekha{
    width: 30rem;
} */
/* .another-features>div{
    width: 100%;
} */
/* .magic{
    
        
} */
.img img{
    width: 100%;
}
.magic2{
    position: absolute;
    bottom: 17%;
    left: 50%;
    transform: translateX(-50%);
    width: 14rem;
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
}
.magic .magic3{
    font-size: 1.5rem;
    font-weight: 400;
}

.featured-box-head{
    width: 31rem;

}
.featured-box-head h1{
    font-weight: 900;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    border-left: 5px solid #FF900E;
    padding-left: 1rem;
    overflow-x: hidden;
}
.featured-box-head p{
    font-size: 1rem;
    font-weight: 400;
    color: #727272;
    margin-bottom: 1.8rem;
}
.featured-box{
    width: 26rem;
    height: 10rem;
    margin-bottom: 1.25rem;
}
.featured-box h4{
    font-size: 1.25rem;
    font-weight: 600;
    color: #131313;
    margin-bottom: 0.625rem;
}
.featured-box p{
    font-size: 1rem;
    font-weight: 400;
    color: #727272;
}
.some-facts{
   padding: 0 8rem;
   overflow-x: hidden;
   margin-bottom: 11rem;
}
.some-facts .fact-lekha h2{
    font-size: 2.813rem;
    font-weight: bold;
    color: #131313;  
    margin-bottom: 1.5rem;
}
.some-facts .fact-lekha p{
    font-size: 1rem;
    font-weight: 400;
    color: #727272;  
}
.fact-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 7.75rem;
    margin-top: 6.25rem;
    
}
.fact-card>div{
    border: 1px solid #FF900E;
    padding: 3rem;
    border-radius: 8px;
    /* justify-content: center;
    align-items: center; */
}
.white{
    position: relative;
}
.fact-card p{
    color: #424242;
    font-weight: 600;
    text-align: center;
}
.fact-card .p1{
    font-size: 2.8rem;
}
.fact-card img{
    height: 2.826rem;
    width: 2.826rem;
    position: absolute;
    top: 2%;
    right: 50%;
    transform: translateX(50%);
   
}
.sponsors{
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    padding: 0 6rem;
    margin-bottom: 8rem;
}
.sponsors h2{
    font-size: 2.8rem;
    font-weight: bold;
    color: #131313;
    margin-bottom: 1.5rem;
    text-align: center;
}
.sponsors p{
    font-size: 1rem;
    font-weight: 400;
    color: #727272;
    margin-bottom: 3rem;
    text-align: center;
}
.sp-pic-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);  
     
}
.sp-pic-container img{
   
    height: 3rem;
}
footer{
    background: #FFF4E7;
    height: 6.25rem;
    width: 100%;
    position: relative;
    overflow: hidden;
}
footer p{
    font-size: 1.25rem;
    color: #424242;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    margin-top: 2.4rem;
    margin-left: 50%;
    transform: translateX(-50%);
}
/* for mobile */
@media screen and (max-width: 576px){
    nav, nav ul{
        flex-direction: column;
    }
    nav ul{
        display: none;
    }
    .teams{
        display: flex;
        flex-direction: column-reverse;
        padding: 0 2rem;
        overflow-x: hidden;
        width: 100%;
    }

    .teams .team-img-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 1.5rem;
        padding: 0;
        margin-top: 2rem;
        overflow-x: hidden;
    }
    .another-features{
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
        margin: 0;
        overflow-x: hidden;
        /* overflow-x: scroll; */
    }
    .magic2{
        bottom: 4%;
        overflow-x: hidden;
    }
    .featured-box-head{
        width: 26rem;
    }
    .fact-card{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }
    .white{
        margin-top: 2rem;
    }
    .some-facts{
        padding: 1rem 5rem;
        margin: 0;
        overflow-x: hidden;
     }
     .sp-pic-container{
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(1, 1fr);
        row-gap: 2.5rem;
        margin-left: 27%;
        margin-top: -3rem;
        width: 1rem;
     }
     .sponsors{
        padding: 0 3rem;
     }
     footer{
        height: 8.5rem;
        
     }
     
}